.McCcpControlArrowTextField{
	height : 100% !important;
	text-align: right !important;
	padding-right : 12px !important;
}

.McCcpControlArrowTextFieldBGColor{
	background-color: #FFFFCC !important;
}

.McCcpControlArrowTextFieldDiv{
	width:13%;
	float: right;
	height:100%;	
	display : block;
	
}


.McCcpControlArrowTextFieldTopDiv{
 border-color: green;
 border-style: solid;
 border-width: thin;
}

.McCcpControlArrowTextFieldColor{
 background-color : #EE9E2E !important;
}

.McCcpBlock{
	display : block !important;
}