.McCcpOrderItemTbl {
	border-spacing: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.McCcpOrderItemTbl tr:nth-of-type(odd) td:nth-of-type(even) { background-color: #E8E8E8 ; }
.McCcpOrderItemTbl tr:nth-of-type(even) td:nth-of-type(even){ background-color: #F0F0F0 ;  }
.McCcpOrderItemTbl tr:nth-of-type(odd) td:nth-of-type(odd) { background-color : #F8F8F8 ;  }
.McCcpOrderItemTbl tr:nth-of-type(even) td:nth-of-type(odd) { background-color: #FFFFFF ; }




.McCcpOrderItemTblSpaceTr{
	height: 5px ;
}

.McCcpOrderItemTblSpaceTr td{
	background-color: #ffffff !important; 
}

.McCcpOrderItemTblHdrTr{
	height: 30px;
}

.McCcpOrderItemTblHdrTr td{
	background-color: #ffffff !important; 
}

.McCcpOrderItemTblHdrTr>td>a{
	font-size: 15px;
    font-weight: bold;
}
 .McCcpOrderItemTblHdrTr>td{
	border-style: solid;
    border-width: 0px;    
    border-bottom-width: 3px;
    border-color:  #dddddd;
    padding-right: 15px;
    text-align: right;
    color: #444444;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
    width: auto;
}
 .McCcpOrderItemTblHdrTr>td:first-child{	
    text-align: left;   
}

 .McCcpOrderItemTblHdrTr>td:nth-child(4){	
    text-align: left;   
}

.McCcpOrderItemTblHdrTr>td:nth-child(1){	
    padding-left: 0px !important;
    width: 9% !important;
}



 .McCcpOrderItemTblTr>td {
	border-style: hidden;
    border-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color:  #dddddd;
    padding-right: 15px;
    text-align: right;
}

 .McCcpOrderItemTblTr>td:first-child{	
    text-align: left;   
}


 .McCcpOrderItemTblTr td:nth-child(5){	
    background-color: #EE9E2E !Important; 
}


.McCcpOrderItemTblFrctTr {
	height: 30px;
}


.McCcpOrderItemTblFrctTr>td {
	border-style: hidden;
    border-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color:  #dddddd;
    padding-right: 2px;
    text-align: right;
}

 .McCcpOrderItemTblFrctTr>td:first-child{	
    text-align: left;   
}

 .McCcpOrderItemTblFrctTr td:nth-child(2){	
   padding-right: 15px;     
}

 .McCcpOrderItemTblFrctTr td:nth-child(3){	
   padding-right: 15px;     
}

 .McCcpOrderItemTblFrctTr td:nth-child(5){	
    background-color: #EE9E2E !Important;         
}

.McCcpOrderItemTblCellProdBlock{
	background-color:#c7c7c7 !Important;  
}


.McCcpOrderItemTblLblCol{
	width: 19%
}

.McCcpOrderItemTblDataCol{
	width: 9%
}

.McCcpOrderItemTblStdHght{
	height: 30px;
	padding-right: 3px !important;
}

.McCcpRed{
	color: red !Important;
}

.orderTdClass{
	width : 36%;
}

.orderTdClassDiv{
	text-overflow: ellipsis;   
       white-space: nowrap;
       overflow: hidden;
       width : 100%;
	
}




