
/*  Order Headers */
.mcGlobalTableTrTitle {
    color: #ffffff;
    font-size: 20px !important;
    font-weight: bold;
    position: relative;
    top: 10px;   
}

.mcRadioLable {    
    font-size: 13px !important;
    font-weight: bold;
    position: relative;
    top: 10px;   
}


.mcRadioGrp{
	position: relative;
    top: 8px; 
}

/*  End of Order Headers */
